body {
  background: url(../imgs/bg.gif); 
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-attachment: fixed;
  color: white;
}

.game-display{
  margin-top:25px;
  padding:25px;
  /* background-color: lightsalmon; */
  /* background-color: rgba(99, 99, 99, 0.56); */


}

.warningDisp {
  color: red;
  background-color: rgba(99, 99, 99, 0.3);

}

.congratsDisp {
  font-family: 'Creepster', cursive;
  background-color: rgba(99, 99, 99, 0.3);


}

.question {
  color: darkred;
  font-family: 'Finger Paint', cursive;
  font-size: 2.75rem;

}

.timerDisp {
  font-family: 'Barrio', cursive;


}

.roundDisp {
  font-family: 'Barrio', cursive;


}

.answers-display {
  font-family: 'Metal Mania', cursive;
  font-size:2rem;

}

.welcome-text-head{
  color: darkred;
  font-family: 'Finger Paint', cursive;
  font-size: 4rem;
}

.welcome-text-detail{
  font-family: 'Barrio', cursive;
  font-size: 2rem;
}

.welcomeScreen-next {
  margin-bottom: 10px;
}

/* font-family: 'Creepster', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Eater', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Jolly Lodger', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Barrio', cursive;
font-family: 'Bigelow Rules', cursive; */